<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoia2V5Y2hhaW5hY2Nlc3MiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7InVy
		bFN0cmluZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9raXNoaWthd2FrYXRz
		dW1pXC9LZXljaGFpbkFjY2VzcyJ9XX0sInByb2R1Y3RGaWx0ZXIiOm51bGws
		InJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiNC4wLjAi
		LCJ1cHBlckJvdW5kIjoiNS4wLjAifV19fV19LHsic291cmNlQ29udHJvbCI6
		W3siaWRlbnRpdHkiOiJzd2lmdHV0aWxpdGllcyIsImxvY2F0aW9uIjp7InJl
		bW90ZSI6W3sidXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL211
		aGlybzEyXC9Td2lmdFV0aWxpdGllcyJ9XX0sInByb2R1Y3RGaWx0ZXIiOm51
		bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMS45
		LjAiLCJ1cHBlckJvdW5kIjoiMi4wLjAifV19fV19XSwiZGlzcGxheU5hbWUi
		OiJTd2lmdFBsYXlncm91bmRzIiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319
		LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJp
		b3MiLCJ2ZXJzaW9uIjoiMTcuMCJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJT
		d2lmdFBsYXlncm91bmRzIiwic2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZp
		ZXIiOlsiY29tLm11aGlybzEyLlN3aWZ0UGxheWdyb3VuZHMiXX0seyJ0ZWFt
		SWRlbnRpZmllciI6WyI2NlBLRjU1SEs1Il19LHsiZGlzcGxheVZlcnNpb24i
		OlsiMS4wIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBwSW5m
		byI6W3siYWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0Q29s
		b3IiOnsicmF3VmFsdWUiOiJtaW50In19fSwiYXBwSWNvbiI6eyJhc3NldCI6
		eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVzIjpbeyJwdXJwb3Nl
		IjoicGhvdG9MaWJyYXJ5IiwicHVycG9zZVN0cmluZyI6IlBob3RvIExpYnJh
		cnkifSx7InB1cnBvc2UiOiJjYW1lcmEiLCJwdXJwb3NlU3RyaW5nIjoiQ2Ft
		ZXJhIn0seyJwdXJwb3NlIjoiZmFjZUlEIiwicHVycG9zZVN0cmluZyI6IkZh
		Y2UgSUQifV0sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBo
		b25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9y
		dHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVM
		ZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7
		ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsi
		QXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFy
		Z2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7InByb2R1
		Y3QiOlsiS2V5Y2hhaW5BY2Nlc3MiLCJrZXljaGFpbmFjY2VzcyIsbnVsbCxu
		dWxsXX0seyJwcm9kdWN0IjpbIlN3aWZ0VXRpbGl0aWVzIiwiU3dpZnRVdGls
		aXRpZXMiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBN
		b2R1bGUiLCJwYWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0aCI6Ii4iLCJyZXNv
		dXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn19
		LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiS2V5
		Y2hhaW5BY2Nlc3MiLCJrZXljaGFpbmFjY2VzcyIsbnVsbCxudWxsXX0seyJw
		cm9kdWN0IjpbIlN3aWZ0VXRpbGl0aWVzIiwiU3dpZnRVdGlsaXRpZXMiLG51
		bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJw
		YWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltd
		LCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1Zl
		cnNpb24iOnsiX3ZlcnNpb24iOiI1LjguMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		xsWeDWV5mLOnZkzSnrm+4jm4iTpNnKIYPAULoEtPn94=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
